
.formTitle {
	padding: 10px;
}

.divPadding {
	/* padding: 10px; */
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 400px;
	padding-right: 400px;
	/* border: 5px solid #000; */
}

.formStyle {
	/* width: 100%; */
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	border: 5px solid #000;
}

.formElement {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
